{%extends 'dashboard_base.html'%}
<!--Form-->
{%block content%}
{%for profile in profile%}

<div class="form-wrapper">
    <div class="box">
        <form method="post">
            <br />
            {%csrf_token%}
            <label class="font1">Username*</label><br />
            <input type="text" value="{{user.get_username}}" size="100" readonly /><br /><br />
            <label class="font1">Title*</label><br />
            <input type="text" name="title" size="100" placeholder="e. g.: The Official Blog"
                {%for blogconf in blogconf%} value="{{blogconf.title}}" {%endfor%} required /><br /><br />
            <label class="font1">Blog Picture*</label>
            <input type="text" name="picture" size="100" placeholder="e. g.: https://example.com/image.png"
                {%for blogconf in blogconf%} value="{{blogconf.picture}}" {%endfor%} required />
            <br /><br />
            <label class="font1">Side Note*</label>
            <input type="text" name="description" size="100" placeholder="e. g.: Trying to develop tomorrow" required
                {%for blogconf in blogconf%} value="{{blogconf.description}}" {%endfor%} />
            <br><br>
            <button type="submit" class="button-success center">Submit</button>
            <br /><br />
        </form>
    </div>
</div>
</div>
{%empty%}
<div style=" width : 100%; height : 100%;" class="wrapper">
    <h1 class="font1">You don't have your <a href="/dashboard/profile" class="yellow" style="color : black">Profile
            Page</a> setup yet.<br /> Let's do that?</h1><br />
    <h1><a class="font1" href="/dashboard/profile" style=" color : black">Yes bring me there 😃</a></h1><br /><br />
</div>
{%endfor%}


{%endblock%}