<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Squar</title>
  <!--css styling-->
  <link rel="stylesheet" href="https://wikicdn.web.app/css/main.css">
  <link rel="stylesheet" href="https://wikicdn.web.app/css/components.css">
  {%block header%}
  {%endblock%}
  <link rel="shortcut icon" type="image/x-icon" href="https://wikicdn.web.app/media/favicon-32x32.png">
</head>

<body>
  <!------------------Navbar------------------->
  <nav id="nav" class="" style="top: 0px; z-index: +10">
    <a href="/" style="float : left !important"><img src="https://wikicdn.web.app/css/icon_white.svg" alt="" /></a>
    <button id="nav-button">
      <span> ☰</span>
    </button>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search/">Search</a></li>
      <li><a href="/q-and-a">Q&amp;A</a></li>
      {%if user.is_authenticated%}
      <li><a href="/dashboard/">Dashboard</a></li>
      <li><a href="/logout/">Logout</a></li>
      {%else%}
      <li><a href="/register/">Register</a></li>
      <li><a href="/login/">Login</a></li>
      {%endif%}
    </ul>
  </nav>
  <!----------------Navbar End----------------->
  <!-----------------Content------------------->
  <div style="margin-top : 70px">
    {%block content%}
    {%endblock%}
  </div>
  <!---------------Content End----------------->

  <!-----------------Footer------------------->
  <footer>
    <div id="nav-wrapper">
      <a href="/"><img src="https://wikicdn.web.app/css/icon_white.svg" alt="" /></a>
      <br /><br /><br />
      <a href="/">Home</a>
      <a href="/search/">Search</a>
      <a href="/dashboard/">Dashboard</a>
      <a href="/q-and-a/">Q&A</a><br />
      <p style="margin-top: 60px;">&copy; 2020 Squar.app</p>
    </div>
    <a href="https://icons8.de/" target="_blank"
      style="float : right; margin-top : 130px; padding-bottom : 0 !important"><img
        src="https://wikicdn.web.app/media/Icons8.png" alt="" /></a>
    <a href="https://discord.gg/UzPK9bq" target="_blank"
      style="float : right; margin-top : 130px; padding-bottom : 0 !important"><img
        src="https://wikicdn.web.app/media/Discord.png" alt="" /></a>
  </footer>
  <!---------------Footer End----------------->

  <!---------------JS Imports----------------->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
  <script src="https://wikicdn.web.app/js/components.js"></script>
</body>

</html>